<h1>Listing ipo_applicants</h1>

<table>
  <thead>
    <tr>
      <th>Production</th>
      <th>Base unit</th>
      <th>Issue price</th>
      <th>Total stock</th>
      <th>Ipo count</th>
      <th>Top limit</th>
      <th>Start time</th>
      <th>End time</th>
      <th>State</th>
      <th>Member</th>
      <th>Audit</th>
      <th>Audit time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ipo_applicants.each do |ipo_applicant| %>
      <tr>
        <td><%= ipo_applicant.production %></td>
        <td><%= ipo_applicant.base_unit %></td>
        <td><%= ipo_applicant.issue_price %></td>
        <td><%= ipo_applicant.total_stock %></td>
        <td><%= ipo_applicant.ipo_count %></td>
        <td><%= ipo_applicant.top_limit %></td>
        <td><%= ipo_applicant.start_time %></td>
        <td><%= ipo_applicant.end_time %></td>
        <td><%= ipo_applicant.state %></td>
        <td><%= ipo_applicant.member_id %></td>
        <td><%= ipo_applicant.audit_id %></td>
        <td><%= ipo_applicant.audit_time %></td>
        <td><%= link_to 'Show', ipo_applicant %></td>
        <td><%= link_to 'Edit', edit_ipo_applicant_path(ipo_applicant) %></td>
        <td><%= link_to 'Destroy', ipo_applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ipo applicant', new_ipo_applicant_path %>
