<p>
  <strong>产品名称:</strong>
  <%= @ipo_applicant.production %>
</p>

<p>
  <strong>基本单位:</strong>
  <%= @ipo_applicant.base_unit %>
</p>

<p>
  <strong>发行价:</strong>
  <%= @ipo_applicant.issue_price %>
</p>

<p>
  <strong>发行总数量:</strong>
  <%= @ipo_applicant.total_stock %>
</p>

<p>
  <strong>申购上限:</strong>
  <%= @ipo_applicant.top_limit %>
</p>

<p>
  <strong>申购起始时间:</strong>
  <%= @ipo_applicant.start_time %>
</p>

<p>
  <strong>申购截止日期:</strong>
  <%= @ipo_applicant.end_time %>
</p>

<p>
  <strong>审核状态:</strong>
  <%= @ipo_applicant.state_text %>
</p>



<%= link_to 'Back', admin_ipo_applicants_path %>
