<%= form_for(@ipo_number) do |f| %>
  <% if @ipo_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipo_number.errors.count, "error") %> prohibited this ipo_number from being saved:</h2>

      <ul>
      <% @ipo_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ipo_id %><br>
    <%= f.number_field :ipo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
